%p#notice= notice

%p.name
  %b Name:
  = @product.name
.description
  %p
    %b Description:
    =simple_format(@product.description)
%p.price
  %b Price:
  = @product.price
%p.image
  %b image:
  = @product.image_tag(@product.image_url) if @product.image?
%p.recommend
  %b recommend:
  =@product.recommend

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
